openapi: 3.0.3
info:
  title: FPay Provider API
  version: 0.0.1
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    # Common
    Uuid:
      description: "Id unico"
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      maxLength: 36
    Password:
      description: "Senha"
      type: string
      pattern: ^(?=.*[a-z])(?=.*[A-Z]).{6,}$
    DateISO:
      description: Data em formato ISO 1806
      type: string
      pattern: \d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)
    # Responses
    BuyersResponse:
      type: object
      required:
        - name
        - document_number
      properties:
        id:
          type: string
        resource:
          type: string
        name:
          type: string
        document_number:
          type: string
        email:
          type: string
        email_secondary:
          type: string
        phone_number:
          type: string
        birthdate:
          type: string
        obs:
          type: string
        street:
          type: string
        house_number:
          type: string
        postal_code:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        state_initials:
          type: string
        state:
          type: string
        country_code:
          type: string
        created_at:
          $ref: "#/components/schemas/DateISO"
        updated_at:
          $ref: "#/components/schemas/DateISO"
servers:
  - url: http://localhost:3333
    description: Local Development
paths:
  # Buyers
  "/marketplaces/{id}/buyers":
    get:
      operationId: getBuyers
      tags:
        - Buyers
      security:
       - BasicAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: "#/components/schemas/Uuid"
          required: true
          description: Tipo de certificado a ser obtido
      responses:
        "200":
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuyersResponse"
              example:
                id: "c1b319b3-b291-4a3a-941a-7ea138a052ae"
                resource: "buyer"
                name: "Edinei Rodrigues Filho"
                document_number: "45830625830"
                email: "edineibk@gmail.com"
                email_secondary: null
                phone_number: null
                birthdate: null
                obs: null
                street: null
                house_number: null
                postal_code: null
                neighborhood: null
                city: null
                state_initials: null
                state: null
                country_code: null
                created_at: "2021-10-07T13:41:45+00:00"
                updated_at: "2021-10-07T13:41:45+00:00"